@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poiret+One&family=Roboto:wght@300&family=Rubik&family=Rubik+Mono+One&family=Source+Code+Pro:wght@200&family=VT323&display=swap');



.App {
  display: grid;
  font-family: 'Roboto', sans-serif;
  height: 1050px;
  position: relative;
  /*background-image: url("./background.jpeg");*/

  grid-template-columns: 300px 1fr 300r;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ".     home    . "
    ".     about   .   "
    ".     projects ."



  ;
}

.home {
  /* grid-area: home; */
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  text-align: center;
  justify-self: center;
  font-size: x-large;
}

.about {
  grid-area: about;
  width: 600px;
  text-align: center;
  justify-self: center;
  border: solid 3px black;
  border-radius: 14px;

  background: rgb(83,74,38);
  background: linear-gradient(86deg, rgba(83,74,38,1) 12%, rgba(233,196,106,1) 77%, rgba(231,111,81,1) 94%);
}

.footer {
  display: grid, inline-block;



}

button {
  font-family: 'Roboto', sans-serif;
  background-color: #588150;
  font-weight: bolder;

}

#portfolio {
  display: flex;
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: space-around;
  border: solid 3px black;
  padding: 8px;
  width: 90%;
  margin: auto;
  position: relative;

  background: rgb(218, 215, 205);
  background: linear-gradient(90deg, rgba(218, 215, 205, 1) 0%, rgba(88, 129, 87, 1) 73%, rgba(58, 90, 64, 1) 100%);

}

.headshot {
  width: 200px;
  height: 250px;
  border-radius: 15px;
}

.projects {
  grid-area: projects;
  width: 1000px;
  text-align: center;
  justify-self: center;
  border: solid 3px black;
  background: rgb(218, 215, 205);
  background: linear-gradient(90deg, rgba(218, 215, 205, 1) 0%, rgba(88, 129, 87, 1) 73%, rgba(58, 90, 64, 1) 100%);
}

.projects h1 {
  font-weight: bolder;
}

.image-project {
  width: 650px;
  height: 400px;
  border-radius: 15px;
}




.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

.title {
  display: grid;
  justify-content: center;

}
nav{

background: rgb(218,215,205);
background: linear-gradient(90deg, rgba(218,215,205,1) 0%, rgba(88,129,87,1) 73%, rgba(58,90,64,1) 100%);
}
